:root {
  --background: #2e343a;
  --heavy-background: #262b30;
  --light-background: #393e46;

  --accent-low: #393e46;

  --text-color: #d0c6ad;
  --cloudy-text-color: #b2b2b2;
  --link-text-color: #8cb9b2;

  --width: 768px;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  max-width: var(--width);
  background-color: var(--background);
  color: var(--text-color);
  margin: auto;
  padding: 1em;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.9em;
}

hr {
  margin: 0.5em 0;
  border: 1px solid var(--accent-low);
}

p {
  margin: 0.67em 0;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

code.language-plaintext {
    font-family: "JetBrains Mono";
    background-color: var(--heavy-background);
    margin: 0 0.1em;
    padding: 0.2em;
    border-radius: 0.2em;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-position: inside;
}

ol li {
    margin: 0.67em 0;
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em 0;
}

pre code {
    font-family: "JetBrains Mono";
    font-size: small;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

blockquote {
  background-color: var(--light-background);
  border-left: 4px solid var(--text-color);
  padding: 1em 1em 1em 2em;
  margin: 1em 0;
}

img {
  max-width: 100%;
  margin: 1em auto;
  display: block;
}

article {
    padding: 1em 0;
}

article ul > li {
  padding: 0px;
}

article ul > li > ul > li {
  padding-left: 1em;
}

article ul > li > ol > li {
  padding-left: 1em;
}

article ol > li > ol > li {
  padding-left: 1em;
}

article ol > li > ul > li {
  padding-left: 1em;
}

#child-list {
    padding: 1.0em 0;
}
