.post-title {
    margin: 0;
}

.post-summary {
    color: var(--cloudy-text-color);
    margin: 0;
}

.post-tags {
    display: flex;
    font-size: small;
}

.post-tags li {
    list-style: none;
    margin-right: 0.3em;
}

.post-tags li:last-child {
    margin-right: 0;
}

.post-tags a {
    color: var(--cloudy-text-color);
}

.post-git p {
    font-size: small;
    margin: 0;
}

