.post-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    h1,
    h2 {
        color: var(--cyan-text-color);
        border-bottom: 1px solid var(--light-background)
    }
    h3,
    h4 {
        color: var(--green-text-color);
    }
    h5,
    h6 {
        color: var(--yellow-text-color);
    }

}

.post-title {
    margin: 0;
}

.post-summary {
    color: var(--cloudy-text-color);
    margin: 0;
}

.post-tags {
    display: flex;
    font-size: small;
}

.post-tags li {
    list-style: none;
    margin-right: 0.3em;
}

.post-tags li:last-child {
    margin-right: 0;
}

.post-tags a {
    color: var(--cloudy-text-color);
}

.post-git p {
    font-size: small;
    margin: 0;
}
