#markdown-toc {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid var(--accent-low);
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    overscroll-behavior: contain;

    @media (min-width: 1360px) {
        position: fixed;
        top: 60px;
        left: calc(50vw + 384px + 50px);
        width: 200px;
        border: 0px solid;
        border-left: 2px solid var(--accent-low);
        padding: 0 1.2em;
        font-size: small;
        max-height: calc(100vh - 160px);
        overflow-y: auto;
    }

    a {
        color: var(--cloudy-text-color);
        text-decoration: none;
    }
    .active-toc {
      color: var(--link-text-color);
      font-weight: bold;
    }
}

#markdown-toc ul,
#markdown-toc ol {
    margin: 0.2em 0;
    padding-left: 0.6em;
}

#markdown-toc ul ul,
#markdown-toc ol ol {
    padding-left: 0.7em;
}

#markdown-toc li {
    margin: 0.2em 0;
    list-style-position: inside;
}

#markdown-toc li a {
    display: inline-block;
    padding: 0.15em 0;
    line-height: 1.5;
}
