_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

tags
tags.lock
tags.temp

package-lock.json
node_modules
yarn.lock

.DS_Store

# generated data
data

_notes/.obsidian
_notes/daily
_notes/.trash