_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

tags
tags.lock
tags.temp

# generateData.js
node_modules
yarn.lock

.DS_Store

# generated data
data

# Obsidian workspace/cache
_wiki/.obsidian/workspace*
_wiki/.obsidian/cache/
_wiki/.obsidian/graph.json
_wiki/.obsidian/workspace.json
_wiki/.obsidian/workspace-mobile.json
_wiki/.obsidian/plugins
_wiki/.obsidian/themes
