_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

tags
tags.lock
tags.temp

package-lock.json
node_modules
yarn.lock

.DS_Store

# generated data
data

# It is now managed as a submodule
_wiki/.obsidian

_wiki/daily
