---
layout: default
permalink: /all-notes/
---

{% assign documents = site.notes | sort: "updated" | reverse %}

<div>
    <ul class="doc-list">
        {% for doc in documents %}
            {% unless doc.path contains '/index.md' %}
                <li class="doc-item">
                    <a class="doc-link" href="{{ doc.url | prepend: site.baseurl }}">
                        <div class="doc-title-row">
                            <span class="doc-title">{{ doc.title }}</span>
                            <span class="doc-date">{{ doc.updated | date: "%Y.%m.%d" }}</span>
                        </div>
                        {% if doc.summary %}
                        <div class="doc-summary">{{ doc.summary }}</div>
                        {% endif %}
                    </a>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>

{% include createLink.html %}
