---
layout: default
---

{% assign documents = site.wiki | sort: 'updated' | reverse %}

<div>
    <h3>최근 변경된 문서</h3>
    <ul class="post_list">
        {% for doc in documents limit: 10 %}
            {% if doc.public == true and doc.title != 'wiki index'%}

            <li class="post_list_item">

                <a href="{{ doc.url | prepend: site.baseurl }}">
                    <div class="link">
                        {{ doc.updated | date: "%Y.%m.%d" }} - {{ doc.title }}
                    </div>
                    <div class="post-summary">{{ doc.summary }}</div>
                </a>

                {% if doc.tags %}
                <ul class="post-tags">
                    {% for tag in doc.tags %}
                    <li class="post-tag">
                        {{ tag }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </li>

            {% endif %}
        {% endfor %}
    </ul>
    <h4>
        <a href="/recent/">전체 문서 리스트 보기 ({{ site.wiki | size }} 항목)</a>
    </h4>
</div>

{% include createLink.html %}

<style>
.post_list {
    list-style: none;
}

.post_list_item {
  list-style: none;
  padding: 0.4em 0;
  border-bottom: 0.5px solid var(--accent-low);
}

.post_list_item:first-child {
  padding-top: 0;
}

.link {
    font-size: 1.0em;
}

.post-summary {
    font-size: 0.8em;
    opacity: 0.6;
    color: var(--font-color);
}

.post-tags {
    display: flex;
    font-size: 0.8em;
    opacity: 0.6;
    color: var(--font-color);
}

.post-tag {
    list-style: none;
    margin-right: 0.3em;
}

.post-tag a {
    color: var(--font-color);
}
</style>
