---
layout: default
permalink: /recent/
---

{% assign documents = site.notes | sort: "updated" | reverse %}

<div>
    {% assign total_non_index = 0 %}
    <ul class="post_list">
        {% for doc in documents %}
            {% unless doc.path contains '/index.md' %}
                {% assign total_non_index = total_non_index | plus: 1 %}
                <li class="post_list_item">
                    <a href="{{ doc.url | prepend: site.baseurl }}">
                        <div class="post-title">
                            {{ doc.updated | date: "%Y.%m.%d" }} - {{ doc.title }}
                        </div>
                        <div class="post-summary">{{ doc.summary }}</div>
                    </a>

                    {% if doc.tags %}
                    <ul class="post-tags">
                        {% for tag in doc.tags %}
                        <li class="post-tag">
                            {{ tag }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>

{% include createLink.html %}
