---
layout: default
permalink: /recent/
---

{% assign documents = site.wiki | sort: 'updated' | reverse %}
{% assign private_document = site.wiki | where: "public", false %}
{% assign private_document_size = private_document | size %}

<div>
    <h3>최근 변경된 문서 ({{ site.wiki | size | minus: private_document_size }} 항목)</h3>
    <ul class="post_list">
        {% for doc in documents %}
            {% if doc.public != false and doc.title != 'wiki' %}
                <li class="post_list_item">
                    <a href="{{ doc.url | prepend: site.baseurl }}">
                        <div class="post-title">
                            {{ doc.updated | date: "%Y.%m.%d" }} - {{ doc.title }}
                        </div>
                        <div class="post-summary">{{ doc.summary }}</div>
                    </a>

                    {% if doc.tags %}
                    <ul class="post-tags">
                        {% for tag in doc.tags %}
                        <li class="post-tag">
                            {{ tag }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% include createLink.html %}

<style>
.post_list {
    list-style: none;
}

.post_list_item {
  list-style: none;
  padding: 0.4em 0;
  border-bottom: 0.5px solid var(--accent-low);
}

.post_list_item:first-child {
  padding-top: 0;
}

.post_list_item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.post-summary {
    color: var(--cloudy-text-color);
}

.post-tags {
    display: flex;
    font-size: 0.9em;
}

.post-tag {
    list-style: none;
    margin-right: 0.3em;
}

.post-tag a {
    color: var(--cloudy-text-color);
}
</style>
