<hr />
<footer>
    <ul class="footer">
        <li class="footer_item">
            <a href="https://github.com/{{ site.github.username }}">GitHub</a>
        </li>
        <li class="footer_item">
            <a href="mailto:{{ site.email }}">Email</a>
        </li>
    </ul>
</footer>

<style>
    .footer {
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .footer_item {
        margin-right: 10px;
    }

    .footer li a {
        color: var(--link-text-color);
    }
</style>
