<header class="header">
    <a href="/">
        <h1 class="header_title">{{ site.title }}</h1>
    </a>
    <ul>
        <a href="/tag/">
            <li>Tag</li>
        </a>
        <a href="/about/">
            <li>About</li>
        </a>
    </ul>
</header>
<hr />

<style>
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-family: 'Playwrite CU';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--text-color);
    margin: 0;
}

.header ul {
    display: flex;
}

.header li {
    list-style-type: none;
    margin-left: 1em;
}

</style>
