<header class="header">
    <a href="/">
        <h2 class="header_title">{{ site.title }}</h2>
    </a>
    <ul>
        <a href="/tag/">
            <li>Tag</li>
        </a>
        <a href="/about/">
            <li>About</li>
        </a>
    </ul>
</header>
<hr />

<style>
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
}

.header ul {
    display: flex;
}

.header li {
    list-style-type: none;
    margin-left: 1em;
}

</style>
