---
layout: default
---

{% assign thisName = page.path | remove: '_notes/' | remove: '.md' %}
{% if page.tags %}
{% assign tags = page.tags | sort %}
{% endif %}

<input type="hidden" id="thisName" value="{{ thisName }}"/>
<div>
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.doc_type %}
        <div class="doc-type-badge">{{ page.doc_type }}</div>
        {% endif %}
        {% if page.summary %}
        <h2 class="post-summary">{{ page.summary }}</h2>
        {% endif %}

        <ul class="post-git">
            <p align="right">
                <a href="{{ site.github.history }}/{{ thisName }}.md" target="_blank">
                    created : {{ page.date | date: '%Y.%m.%d' }}
                </a>
            </p>
            <p align="right">
                <a href="{{ site.github.history }}/{{ thisName }}.md" target="_blank">
                    updated : {{ page.updated | date: '%Y.%m.%d' }}
                </a>
            </p>
            <p align="right">
                <a href="{{ site.github.blame }}/{{ thisName }}.md" target="_blank">blame</a>
                / <a href="{{ site.github.edit }}/{{ thisName }}.md">edit</a>
                / <a href="{{ site.github.issue }}?title={{ page.title | url_encode }}">issue</a>
            </p>
        </ul>

        {% if page.tags %}
        <ul class="post-tags">
            {% for tag in tags %}
            <li class="post-tag">
                {{ tag }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% raw %}
        <div id="mention-list"></div>
    {% endraw %}


    {% if page.comment != false %}
    {% include comment.html %}
    {% endif %}
</div>

{% include createLink.html %}

<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/mention.css" | prepend: site.baseurl }}">

<script type="module" src="/js/mentionLink.js"></script>

<script src="/js/auto-toc.js"></script>
<script src="/js/active-toc.js"></script>
